[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pcarenza
[access "refs/for/refs/*"]
	read = group user/pcarenza
	push = group user/pcarenza
	label-Code-Review = -2..+2 group user/pcarenza
	label-Verified = -1..+1 group user/pcarenza
	rebase = group user/pcarenza
	removeReviewer = group user/pcarenza
	submit = group user/pcarenza
[access "refs/heads/*"]
	read = group user/pcarenza
	create = group user/pcarenza
	push = +force group user/pcarenza
	pushMerge = group user/pcarenza
[access "refs/tags/*"]
	push = +force group user/pcarenza
	pushTag = group user/pcarenza
	pushSignedTag = group user/pcarenza
